@model IEnumerable<SinemaBilgi.Models.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<span style="font-size:24px; font-weight:200; color:gray;">SLIDER</span><br /><br />

<p>
    @Html.ActionLink("Yeni bir görsel ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Görsel")
        </th>
        <th>
            @Html.DisplayName("Film Adı")
        </th>
        <th>
            @Html.DisplayName("Slider Not")
        </th>
        <th>
            @Html.DisplayName("Görünürlük")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.SliderUrl)" width="450" height="250"  />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderKisa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderNo)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.SliderId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.SliderId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.SliderId })
        </td>
    </tr>
}

</table>
