@model SinemaBilgi.Models.Haberler

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<span style="font-size:24px; font-weight:200; color:gray;">DETAYLAR</span><br /><br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HaberImg)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.HaberImg)" width="300" height="150"  />
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.HaberBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberKisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberKisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.HaberID }) |
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
